body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5em;
}

.stats-name{
    color: hsla(0, 0%, 100%, 0.6);
    display: block;
    margin-top: 0.5em;
}

.stats-data {
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    
}

main {
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

ul {
    text-transform: uppercase;
}


li {
    display: inline-block;
    margin: 4.5em 6.5em 2.5em -2.5em;
}

.text-content {
    padding: 2.5em 0em 1em 4.5em;
    max-width: 500px;
}


.img {
    display: flex;
    background-color: hsl(277, 64%, 61%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

img {
    max-width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    mix-blend-mode: multiply;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media (max-width: 1100px) {
    body {
        margin: 5% auto;
        font-size: 12px;
    }

    .container {
        max-width: 250px;
    }

    main {
        flex-direction: column-reverse;
        border-bottom-right-radius: 10px;
    }

    h1,
    p {
        text-align: center;
    } 

    h1 {
        margin-right: 2em;
        margin-top: 0;
    }

    p {
        margin: 0 2.5em 0.5em 0;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items:stretch
    }

    ul {
        margin-right: 6.75em;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.5em auto;
    }

    .img {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    img {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }
}